# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules
npm-debug.log

# Jekyll
_site/
.sass-cache/
.jekyll-metadata

# OS X
.DS_Store
.AppleDouble
.LSOverride

# PhoneGap (i.e. Cordova)
.cordova

# Vagrant
.vagrant

# IntelliJ
*.iml