---
layout: default
body_class: dynamic-nav
nav: 
  "#whats-in-the-book": "Book"
  "#about-author": "Author"
  "#buy-now": "Buy"
  "#resources": "Resources"
---

<header class="gray-section">
  {% include blurb.html %}
</header>
<section id="whats-in-the-book">
  {% include book-outline.html %}
</section>        
<section id="about-author" class="gray-section gray-gradient">
  {% include about-author.html %}
</section>  
<section id="buy-now">
  {% include buy-now.html %}
</section>      
<section id="resources" class="gray-section gray-gradient">
  {% include startup-resources.html %}
</section>        