<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.hello.startup" version="1.0.0">
  <name>Hello, Startup</name>
  <description>A collection of startup resources based on the book "Hello, Startup: A Programmer's Guide to Building Products, Technologies, and Teams" by Yevgeniy Brikman.</description>
  <author href="https://www.hello-startup.net" email="feedback@hello-startup.net">Yevgeniy Brikman</author>
  <content src="index.html"/>
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="true"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="7"/>
  <preference name="android-installLocation" value="auto"/>
  <gap:plugin name="org.apache.cordova.battery-status"/>
  <gap:plugin name="org.apache.cordova.camera"/>
  <gap:plugin name="org.apache.cordova.media-capture"/>
  <gap:plugin name="org.apache.cordova.console"/>
  <gap:plugin name="org.apache.cordova.contacts"/>
  <gap:plugin name="org.apache.cordova.device"/>
  <gap:plugin name="org.apache.cordova.device-motion"/>
  <gap:plugin name="org.apache.cordova.device-orientation"/>
  <gap:plugin name="org.apache.cordova.dialogs"/>
  <gap:plugin name="org.apache.cordova.file"/>
  <gap:plugin name="org.apache.cordova.file-transfer"/>
  <gap:plugin name="org.apache.cordova.geolocation"/>
  <gap:plugin name="org.apache.cordova.globalization"/>
  <gap:plugin name="org.apache.cordova.inappbrowser"/>
  <gap:plugin name="org.apache.cordova.media"/>
  <gap:plugin name="org.apache.cordova.network-information"/>
  <gap:plugin name="org.apache.cordova.splashscreen"/>
  <gap:plugin name="org.apache.cordova.vibration"/>
  <icon src="images/mobile-icons/icon.png"/>
  <icon src="www/images/mobile-icons/android/icon-36-ldpi.png" gap:platform="android" gap:qualifier="ldpi"/>
  <icon src="www/images/mobile-icons/android/icon-48-mdpi.png" gap:platform="android" gap:qualifier="mdpi"/>
  <icon src="www/images/mobile-icons/android/icon-72-hdpi.png" gap:platform="android" gap:qualifier="hdpi"/>
  <icon src="www/images/mobile-icons/android/icon-96-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi"/>
  <icon src="www/images/mobile-icons/blackberry/icon-80.png" gap:platform="blackberry"/>
  <icon src="www/images/mobile-icons/blackberry/icon-80.png" gap:platform="blackberry" gap:state="hover"/>
  <icon src="www/images/mobile-icons/ios/icon-57.png" gap:platform="ios" width="57" height="57"/>
  <icon src="www/images/mobile-icons/ios/icon-72.png" gap:platform="ios" width="72" height="72"/>
  <icon src="www/images/mobile-icons/ios/icon-57-2x.png" gap:platform="ios" width="114" height="114"/>
  <icon src="www/images/mobile-icons/ios/icon-72-2x.png" gap:platform="ios" width="144" height="144"/>
  <icon src="www/images/mobile-icons/webos/icon-64.png" gap:platform="webos"/>
  <icon src="www/images/mobile-icons/windows-phone/icon-48.png" gap:platform="winphone"/>
  <icon src="www/images/mobile-icons/windows-phone/icon-173-tile.png" gap:platform="winphone" gap:role="background"/>
  <gap:splash src="www/images/mobile-splash/android/screen-ldpi-portrait.png" gap:platform="android" gap:qualifier="port-ldpi"/>
  <gap:splash src="www/images/mobile-splash/android/screen-mdpi-portrait.png" gap:platform="android" gap:qualifier="port-mdpi"/>
  <gap:splash src="www/images/mobile-splash/android/screen-hdpi-portrait.png" gap:platform="android" gap:qualifier="port-hdpi"/>
  <gap:splash src="www/images/mobile-splash/android/screen-xhdpi-portrait.png" gap:platform="android" gap:qualifier="port-xhdpi"/>
  <gap:splash src="www/images/mobile-splash/blackberry/screen-225.png" gap:platform="blackberry"/>
  <gap:splash src="www/images/mobile-splash/ios/screen-iphone-portrait.png" gap:platform="ios" width="320" height="480"/>
  <gap:splash src="www/images/mobile-splash/ios/screen-iphone-portrait-2x.png" gap:platform="ios" width="640" height="960"/>
  <gap:splash src="www/images/mobile-splash/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios" width="640" height="1136"/>
  <gap:splash src="www/images/mobile-splash/ios/screen-ipad-portrait.png" gap:platform="ios" width="768" height="1024"/>
  <gap:splash src="www/images/mobile-splash/ios/screen-ipad-landscape.png" gap:platform="ios" width="1024" height="768"/>
  <gap:splash src="www/images/mobile-splash/windows-phone/screen-portrait.jpg" gap:platform="winphone"/>
  <access origin="*"/>
</widget>