<div class="container">
  <h2>The author</h2>
  <h3>
    Hello there! I'm <a href="{{ site.homepage }}?ref=hello-startup-about-author" class="tracked" data-trk="homepage-author-name">Yevgeniy (Jim) Brikman</a>,
    the author of <em>Hello, Startup</em>. I'm also the author of
    <em><a href="https://www.terraformupandrunning.com/?ref=hello-startup-about-author" target="_blank" class="tracked" data-trk="terraform-up-running-about-author">Terraform: Up & Running</a></em>
    and the co-founder of
    <a href="{{ site.company }}?ref=hello-startup-about-author" target="_blank" class="tracked" data-trk="gruntwork-about-author">Gruntwork</a>
    (formerly known as Atomic Squirrel), a company that provides DevOps as a Service.
  </h3>
  <div class="row">
    <div class="col-sm-{{ site.left_column_size }} more-about-author author-image">
      <a href="{{ site.homepage }}" class="tracked" data-trk="homepage-author-image"><img src="/images/yevgeniy-brikman.jpg" class="img-thumbnail" alt="Yevgeniy (Jim) Brikman"/></a>
    </div>
    <div class="col-sm-{{ site.right_column_size }} more-about-author">
      <p>
        Previously, I spent more than a decade building products, technologies,
        and teams at LinkedIn, TripAdvisor, Cisco Systems, and Thomson
        Financial. I got my BS and Masters in Computer Science at Cornell
        University. I'm active in the
        <a href="{{ site.github }}" target="_blank">open source community</a>,
        I maintain a <a href="{{ site.blog }}" target="_blank">popular blog</a>,
        and I've given <a href="{{ site.talks }}" target="_blank">talks</a> at
        conferences all over the world.
      </p>
      <p class="truncate">
        I wish I had a book like <em>{{ site.short_title }}</em> back when I was
        in college. By the time I graduated, I had a BS, a Masters, a bunch of
        internship experiences&mdash;and absolutely no idea what I was doing.
        What technologies should I learn and use? How do I build a user
        interface that doesn't look terrible? How do I negotiate a job offer?
        Should I negotiate for more salary or more equity? What is equity,
        anyway? Should I work at a large company or join a startup?
        <br/>
        <br/>
        I learned the answers to these questions, and many others, the hard way&mdash;through trial
        and error. I also learned that thousands of other developers before me went through the same
        inefficient trial and error process. It doesn't have to be this way. While there are a small
        number of lessons that you can only learn by making your own mistakes, my hope is that you can
        learn everything else by studying the successes, failures, and stories in <em>{{ site.short_title }}</em>.
      </p>
    </div>
  </div>
  <div class="learn-more">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <a href="#buy-now" class="btn btn-primary btn-lg btn-block page-scroll">Get the book &raquo;</a>
      </div>
    </div>
  </div>
</div>