<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-1 book-3d">
      <h1>
        <a href="{{ site.url }}" class="tracked" data-trk="home-book-3d" title="{{ site.title }}">
          <img src="images/hello-startup-large.jpg" alt="{{ site.title }}" class="img-responsive"/>
        </a>
      </h1>
    </div>
    <div class="col-lg-4 blurb">
      <blockquote>
        At this very moment, somewhere in the world, two programmers are sitting 
        in a garage and creating our future, one line of code at a time. We are
        in the era of the high tech startup.
      </blockquote>
      <p>
        This book is the "Hello, World" tutorial for building products, technologies,
        and teams in a startup environment. It's based on the experiences of the author, Yevgeniy Brikman, 
        as well as interviews with programmers from some of the most successful startups of 
        the last decade, including Google, Facebook, LinkedIn, Twitter, GitHub, Stripe, 
        Instagram, AdMob, Pinterest, and many others.
      </p>
      <p>
        If you're at all interested in startups&mdash;whether you're a programmer at the 
        beginning of your career, a seasoned developer bored with the politics of large
        companies, a manager trying to figure out how to motivate your engineers, or
        just someone trying to figure out what this startup thing is all about&mdash;this
        book is for you.
      </p>
      <div class="learn-more">
        <div class="row">
          <div class="col-lg-6">
            <a href="#whats-in-the-book" class="btn btn-default btn-lg btn-block page-scroll">Learn more &raquo;</a>
          </div>
          <div class="col-lg-6">
            <a href="#buy-now" class="btn btn-primary btn-lg btn-block page-scroll">Get the book &raquo;</a>
          </div>
        </div>
      </div>            
    </div>
  </div>        
</div>