<div class="container">
  <h2>Buy now</h2>
  <h3>
    <em>{{ site.short_title }}</em> is part of the O'Reilly <em>early release program</em>,
    which means you can buy an unfinished version of the book in the 
    <a href="{{ site.buy_oreilly_link }}" class="tracked" data-trk="buy-oreilly-link-early-release" target="_blank" title="{{ site.buy_oreilly_text }}">O'Reilly Store</a> and 
    <a href="{{ site.buy_safari_link }}" class="tracked" data-trk="buy-safari-link-early-release" target="_blank" title="{{ site.buy_safari_text }}">Safari Books Online</a>.
  </h3>
  <div class="row buy-buttons">
    <div class="col-sm-6">
      <a href="{{ site.buy_oreilly_link }}" class="buy-link hvr-grow hvr-grow-shadow tracked" data-trk="buy-oreilly-button-get-the-book" target="_blank" title="{{ site.buy_oreilly_text }}">
        <img src="images/oreilly-store-small.gif" alt="{{ site.buy_oreilly_text }}" class="buy-button" target="_blank"/>
      </a>
    </div>
    <div class="col-sm-6">
      <a href="{{ site.buy_safari_link }}" class="buy-link hvr-grow hvr-grow-shadow tracked" data-trk="buy-oreilly-button-get-the-book" target="_blank" title="{{ site.buy_safari_text }}">
        <img src="images/safari-store-small.gif" alt="{{ site.buy_safari_text }}" class="buy-button" target="_blank"/>
      </a>
    </div>          
  </div>          
  <div class="row">
    <div class="col-sm-12">
      <p>
        Just like a startup, I believe in releasing early and 
        often, so that I can get your feedback <em>before</em> all the writing and editing is done. 
        That means you have a chance to shape this book with your feedback.
        Please send your comments, questions, ideas, compliments, and complaints to 
        <a href="mailto:{{ site.email }}" class="tracked"  data-trk="feedback-early-release"><strong>{{ site.email }}</strong></a>.
      </p>  
    </div>
  </div>
  <div class="learn-more">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <a href="#resources" class="btn btn-default btn-lg btn-block page-scroll">Startup resources &raquo;</a>
      </div>
    </div>
  </div>        
</div>