<h4>From <a href="http://vimeo.com/26134764" target="_blank">Joe Stump</a>:</h4>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="wide-column">Employee</th>
      <th>Equity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>First non-founding engineer</td>
      <td>1-3% </td>
    </tr>
    <tr>
      <td>Early engineers</td>
      <td>0.5 - 1.5% </td>
    </tr>
    <tr>
      <td>Director</td>
      <td>1% </td>
    </tr>
    <tr>
      <td>VP</td>
      <td>2 - 3% </td>
    </tr>
    <tr>
      <td>CEO</td>
      <td>6 - 9% </td>
    </tr>
  </tbody>
</table>

<h4>From <a href="http://venturehacks.com/articles/option-pool-shuffle" target="_blank">Venture Hacks</a>:</h4>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="wide-column">Employee</th>
      <th>Equity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>CEO</td>
      <td>5 - 10% </td>
    </tr>
    <tr>
      <td>COO</td>
      <td>2 - 5% </td>
    </tr>
    <tr>
      <td>VP</td>
      <td>1 - 2% </td>
    </tr>
    <tr>
      <td>Independent Board Member</td>
      <td>1% </td>
    </tr>
    <tr>
      <td>Director</td>
      <td>0.4 - 1.25% </td>
    </tr>
    <tr>
      <td>Lead Engineer</td>
      <td>0.5 - 1% </td>
    </tr>
    <tr>
      <td>5+ years experience Engineer</td>
      <td>0.33 - 0.66% </td>
    </tr>
    <tr>
      <td>Manager or Junior Engineer</td>
      <td>0.2 - 0.33% </td>
    </tr>
  </tbody>
</table>

<h4>From <a href="http://codingvc.com/analyzing-angellist-job-postings-part-2-salary-and-equity-benchmarks" target="_blank">Leo Polovets</a>:</h4>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="wide-column">Employee</th>
      <th>Equity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Hire #1</td>
      <td>2 - 3% </td>
    </tr>
    <tr>
      <td>Hire #2-5</td>
      <td>1 - 2% </td>
    </tr>
    <tr>
      <td>Hire #6-7</td>
      <td>0.5 - 1% </td>
    </tr>
    <tr>
      <td>Hire #8-14</td>
      <td>0.4 - 0.8% </td>
    </tr>
    <tr>
      <td>Hire #15-19</td>
      <td>0.3 - 0.7% </td>
    </tr>
    <tr>
      <td>Hire #21-27</td>
      <td>0.25 - 0.6% </td>
    </tr>
    <tr>
      <td>Hire #28-34</td>
      <td>0.25 - 0.5% </td>
    </tr>
  </tbody>
</table>
