<h2>The "Hello, World" tutorial for building a startup.</h2>
<p>
  This book will teach you how to build products, technologies, and teams in a
  startup environment. It's based on the experiences of the author,
  <a href="#about-author" class="page-scroll js-fudge-scroll">Yevgeniy (Jim) Brikman</a>,
  as well as <a href="#interviews" class="page-scroll js-fudge-scroll">interviews</a>
  with programmers from some of the most successful startups of the last decade,
  including Google, Facebook, LinkedIn, Twitter, GitHub, Stripe, Instagram,
  AdMob, Pinterest, and many others.
</p>
<p>
  If you're at all interested in startups, this book is for you.
</p>
<div class="learn-more">
  <div class="row">
    <div class="col-lg-6">
      <a href="#whats-in-the-book" class="btn btn-default btn-lg btn-block page-scroll">Learn more &raquo;</a>
    </div>
    <div class="col-lg-6">
      <a href="#buy-now" class="btn btn-primary btn-lg btn-block page-scroll">Get the book &raquo;</a>
    </div>
  </div>
</div>