<li><a class="non-page-scroll" href="/resources">All Resources</a></li>
<li class="dropdown">
  <a class="non-page-scroll" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ site.data.resources[page.resource_key].name }} <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    {% for category in site.data.resources[page.resource_key].categories %}
      <li><a href="#{{ category.id }}" class="page-scroll">{{ category.name }}</a></li>
    {% endfor %}
  </ul>
</li> 