{% unless page.skip_nav %}
  <div class="nav-wrapper">
    <nav class="navbar navbar-fixed-top {% if page.inverse_nav or layout.inverse_nav %}navbar-inverse{% else %}navbar-default{% endif %}">
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="{% if page.is_home %}#page-top{% else %}/{% endif %}">{{ site.short_title }}</a>
        </div>
        <div class="collapse navbar-collapse top-navbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            {% if page.nav_include %}
              {% include {{ page.nav_include }} %}
            {% elsif layout.nav_include %}
              {% include {{ layout.nav_include }} %}
            {% elsif page.nav %}
              {% for item in page.nav %}
                <li><a class="page-scroll" href="{{ item.url }}" title="{{ item.title }}">{{ item.name }}</a></li>
              {% endfor %}
            {% endif %}                       
          </ul>
        </div>
      </div>
    </nav>
  </div>
{% endunless %}