<ol start="5">
  <li>
    <dl id="chapter-picking-a-tech-stack">
      <dt>Picking a Tech Stack</dt>
      <dd>
        How to decide between building software in-house, buying a commercial
        product, and using open source; how to pick the initial tech stack; how to
        evolve a tech stack and rewrites; how to evaluate programming languages,
        frameworks, and databases.
      </dd>
  </li>
  <li>
    <dl id="chapter-principles-of-clean-code">
      <dt>Clean Code</dt>
      <dd>
        Why a programmer's job is not to write code, but to understand it; how code
        layout, naming, error handling, Don't Repeat Yourself (DRY), the Single
        Responsibility Principle (SRP), loose coupling, and high cohesion lead to
        code that's easier to understand; why functional programming leads to code
        that's easier to reuse; why refactoring is the essence of writing code well.
      </dd>
  </li>
  <li>
    <dl id="chapter-practices-of-clean-code">
      <dt>Scalability</dt>
      <dd>
        How to scale a startup to more users and more developers; how to make changes
        to your code without being afraid; how Test Driven Development (TDD) leads to
        better code; how to introduce design reviews, pair coding, and code reviews at
        your startup; why the Readme is the most important file in your code base;
        if you can't measure it, you can't fix it; how to do back-of-the-envelope
        calculations to reason about performance.
      </dd>
  </li>
  <li>
    <dl id="chapter-software-delivery">
      <dt>Software Delivery</dt>
      <dd>
        What happens to the code <em>after</em> you write it; why you should use source
        control, an open source build system, and continuous integration; how to
        set up configuration management, automated deployment, and continuous
        delivery; how to instrument your code with logging, monitoring, and alerting.
      </dd>
  </li>
</ol>