<ol>
  <li>
    <dl id="chapter-why-startups">
      <dt>Why Startups</dt>
      <dd>
        Why today, more than any other time in history, startups are your best
        opportunity to build products that touch millions of lives; what is a
        startup; why you should work at a startup; why you shouldn't work at a
        startup.
      </dd>
    </dl>
  </li>
  <li>
    <dl id="chapter-idea-design-mvp">
      <dt>Startup Ideas</dt>
      <dd>
        How to come up with startup ideas; idea journals, constraints, and pain
        points; ideas vs. execution; Boyd's Law; how to use the customer
        development process to quickly and cheaply validate your ideas.
      </dd>
  </li>
  <li>
    <dl id="chapter-data-distribution-iteration">
      <dt>Product Design</dt>
      <dd>
        Design skills everyone should learn; how to design a user interface that
        doesn't make users feel stupid; principles of user-centered design,
        including personas, emotional design, simplicity, and usability testing;
        principles of visual design, including copywriting, reuse, layout, typography,
        contrast and repetition, and colors; how to design a Minimum Viable Product
        (MVP).
      </dd>
  </li>
  <li>
    <dl id="chapter-data-distribution-iteration">
      <dt>Data and Distribution</dt>
      <dd>
        Metrics every startup should measure; data-driven product development;
        A/B testing; why the best product doesn't always win; marketing,
        viral growth, and sales strategies for startups.
      </dd>
  </li>
</ol>