<ol start="9">
  <li>
    <dl id="chapter-startup-culture">
      <dt>Startup Culture</dt>
      <dd>
        Why you should define your company's mission and values; trade-offs between a
        management-driven hierarchy and a flat organization; the role of culture in
        hiring, promotions, and motivation; how to design the ideal office for
        programmers; trade-offs with working remotely; communication policies and
        process at a startup.
      </dd>
  </li>
  <li>
    <dl id="chapter-getting-a-job-at-a-startup">
      <dt>Getting a Job at a Startup</dt>
      <dd>
        How to find a startup job using your network; how to get your resume noticed;
        how to get good at interviews, whiteboard coding, and asking good questions;
        how to evaluate a job offer; how to think about salary and equity; how to
        negotiate a job offer.
      </dd>
  </li>
  <li>
    <dl id="chapter-hiring-for-your-startup">
      <dt>Hiring for your Startup</dt>
      <dd>
        Why people are the most important part of a startup; who to hire, including
        co-founders, early hires, generalists, and specialists; how to find great
        candidates and engineering branding; why whiteboard coding is terrible and
        what to do about it; how to make an offer they can't refuse.
      </dd>
  </li>
  <li>
    <dl id="chapter-learning-and-teaching">
      <dt>Learning</dt>
      <dd>
        The most interesting software developer in the world; why you should write
        blog posts, articles, papers, and books; why you should talk at meetup
        groups, tech talks, and conferences; why you should open source almost all of
        your code; why you should share almost everything you know.
      </dd>
  </li>
</ol>