<div class="panel panel-default">
  <div class="panel-heading">{{ type | capitalize }}</div>
  <div class="list-group">
    {% for resourceHash in site.data.resources %}
      {% assign resourceId = resourceHash[0] %}
      {% assign resource = resourceHash[1] %}
      {% if resource.type == type %}
        <a href="/resources/{{ resourceId }}" class="list-group-item media{% if resource.disabled %} disabled{% endif %}" data-toggle="tooltip" data-placement="top" title="{{ resource.description }}">
          <div class="media-left"><i class="fa fa-{{ resource.icon }}"></i></div>
          <div class="media-body">{{ resource.name }}</div>        
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>  
