These resources are a work in a progress. They are also
<strong>open source</strong>, so you can add your contributions by submitting a
pull request to the <a href="{{ site.site_github }}" target="_blank">Hello,
Startup GitHub Repository</a>. To see how these resources fit into the bigger
picture, check out the
<a href="https://www.atomic-squirrel.net/startup-checklist/?ref=hello-startup-resources" target="_blank">The Startup Checklist</a>,
which is a comprehensive collection of everything you need to do to launch a
startup.