<a href="/resources">
  <h1>
    <span class="startup-resources-resource">Startup Resources</span>
  </h1>
</a>
<p>
  This is a list of tools, links, and checklists to help you build a startup. 
  They are based on the book <a href="/">{{ site.medium_title }}</a> by 
  <a href="{{ site.homepage }}">{{ site.author }}</a>. 
</p>
<p>
  {% include resources-open-source.html %}
</p>
<div class="learn-more">
  <div class="row">
    <div class="col-lg-6">
      <a href="/" class="btn btn-default btn-lg btn-block page-scroll">The book &raquo;</a>
    </div>
    <div class="col-lg-6">
      <a href="#the-resources" class="btn btn-primary btn-lg btn-block page-scroll">The resources &raquo;</a>
    </div>
  </div>
</div>                            