<div class="container">
  <div class="row">
    <div class="col-md-12 news-items">
      <h2>Reviews</h2>
      <h3>Here is what people are saying about <em>Hello, Startup</em>:</h3>
      {% include render-news.html news=site.data.news.reviews %}
    </div>
  </div>
  <div class="learn-more">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <a href="#about-author" class="btn btn-default btn-lg btn-block page-scroll">About the author &raquo;</a>
      </div>
    </div>
  </div>
</div>