<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Startup Resources</h2>
      <h3>
        Based on the contents of <em>{{ site.short_title }}</em>, I have put together a number of tools, links, and checklists
        to help you build a startup.
      </h3>
      <div class="row resource-lists">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">Products</div>
            <div class="list-group">
              <a href="#" class="list-group-item media" data-toggle="tooltip" data-placement="left" title="How to come up with startup ideas; how to be more creative; a list of links to ready-made ideas you can use.">
                <div class="media-left"><i class="fa fa-lightbulb-o"></i></div>
                <div class="media-body">Startup ideas</div>
              </a>
              <a href="#" class="list-group-item media" data-toggle="tooltip" data-placement="left" title="Quick and cheap ways to do some market research to find out if you have a big idea or a complete bust.">
                <div class="media-left"><i class="fa fa-check"></i></div>
                <div class="media-body">Validate your ideas</div>
              </a>
              <a href="#" class="list-group-item media" data-toggle="tooltip" data-placement="left" title="Free and paid templates you can use for your web and mobile apps instead of coming up with a design from scratch.">
                <div class="media-left"><i class="fa fa-paint-brush"></i></div>
                <div class="media-body">Templates</div>
              </a>
              <a href="#" class="list-group-item media" data-toggle="tooltip" data-placement="left" title="Free and paid images you can use in your startup.">
                <div class="media-left"><i class="fa fa-image"></i></div>
                <div class="media-body">Photos, Graphics, Icons</div>
              </a>
              <a href="#" class="list-group-item media" data-toggle="tooltip" data-placement="left" title="How to define a minimal viable product; how to build prototypes quickly and cheaply.">
                <div class="media-left"><i class="fa fa-bolt"></i></div>
                <div class="media-body">Build an MVP</div>
              </a>
              <a href="#" class="list-group-item media" data-toggle="tooltip" data-placement="left" title="Startup business models; resources such as ads, payments, subscriptions, lead gen, etc.">
                <div class="media-left"><i class="fa fa-dollar"></i></div>
                <div class="media-body">Monetization</div>
              </a>
              <a href="#" class="list-group-item media" data-toggle="tooltip" data-placement="left" title="Help users find your startup through marketing, viral marketing, advertising, email, SEO, PR, and sales.">
                <div class="media-left"><i class="fa fa-microphone"></i></div>
                <div class="media-body">Distribution</div>
              </a>
              <a href="#" class="list-group-item media" data-toggle="tooltip" data-placement="left" title="Data you can leverage to build a startup; tools for working with large amounts of data.">
                <div class="media-left"><i class="fa fa-bar-chart"></i></div>
                <div class="media-body">Data sets</div>
              </a>
            </div>
          </div>  
        </div>                          
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">Technologies</div>
            <div class="list-group">
              <a href="#" class="list-group-item media" data-toggle="tooltip" data-placement="left" title="Should you use Ruby, Python, Java, or PHP at your startup? Compare programming languages across many dimensions.">
                <div class="media-left"><i class="fa fa-language"></i></div>
                <div class="media-body">Language comparison</div>
              </a>
              <a href="#" class="list-group-item media" data-toggle="tooltip" data-placement="left" title="Should you use a Ruby on Rails or Django? SpringMVC or Play? Compare server-side frameworks across many dimensions.">
                <div class="media-left"><i class="fa fa-building"></i></div>
                <div class="media-body">Framework comparison</div>
              </a>
              <a href="#" class="list-group-item media" data-toggle="tooltip" data-placement="left" title="Should you use SQL or NoSQL? MySQL or MongoDB? Compare database software across many dimensions.">
                <div class="media-left"><i class="fa fa-database"></i></div>
                <div class="media-body">Database comparison</div>
              </a>
              <a href="#" class="list-group-item media" data-toggle="tooltip" data-placement="left" title="Learn how to write code that's easy to understand, test, and modify.">
                <div class="media-left"><i class="fa fa-code"></i></div>
                <div class="media-body">Clean code resources</div>
              </a>
              <a href="#" class="list-group-item media" data-toggle="tooltip" data-placement="left" title="How and why to setup a code review process at your startup.">
                <div class="media-left"><i class="fa fa-list"></i></div>
                <div class="media-body">Code review checklist</div>
              </a>
              <a href="#" class="list-group-item media" data-toggle="tooltip" data-placement="left" title="Compare racking your own servers versus using services such as Amazon EC2, Heroku, Rackspace, and Digital Ocean.">
                <div class="media-left"><i class="fa fa-cloud"></i></div>
                <div class="media-body">Hosting options</div>
              </a>
              <a href="#" class="list-group-item media" data-toggle="tooltip" data-placement="left" title="Instead of deploying code manually, learn about tools such as Chef, Puppet, Ansible, and Docker.">
                <div class="media-left"><i class="fa fa-cloud-upload"></i></div>
                <div class="media-body">Deployment tools</div>
              </a>
              <a href="#" class="list-group-item media" data-toggle="tooltip" data-placement="left" title="Learn how to keep track all of your server metrics, business metrics, and alerts.">
                <div class="media-left"><i class="fa fa-heartbeat"></i></div>
                <div class="media-body">Monitoring tools</div>
              </a>
            </div>
          </div>   
        </div>
        <div class="col-sm-4">         
          <div class="panel panel-default">
            <div class="panel-heading">Teams</div>
            <div class="list-group">
              <a href="#" class="list-group-item media" data-toggle="tooltip" data-placement="left" title="Where to look for jobs and where to find candidates.">
                <div class="media-left"><i class="fa fa-briefcase"></i></div>
                <div class="media-body">Job resources</div>
              </a>
              <a href="#" class="list-group-item media" data-toggle="tooltip" data-placement="left" title="Interview questions you should be ready for.">
                <div class="media-left"><i class="fa fa-question-circle"></i></div>
                <div class="media-body">Interview preparation</div>
              </a>
              <a href="#" class="list-group-item media" data-toggle="tooltip" data-placement="left" title="How to figure out if you're being paid a fair salary.">
                <div class="media-left"><i class="fa fa-money"></i></div>
                <div class="media-body">Salary tools</div>
              </a>
              <a href="#" class="list-group-item media" data-toggle="tooltip" data-placement="left" title="How much is your equity worth? Use these tools to figure it out.">
                <div class="media-left"><i class="fa fa-calculator"></i></div>
                <div class="media-body">Equity tools</div>
              </a>
              <a href="#" class="list-group-item media" data-toggle="tooltip" data-placement="left" title="Tools that help your team work together productively, such as GitHub, Slack, Google Docs, and DropBox.">
                <div class="media-left"><i class="fa fa-users"></i></div>
                <div class="media-body">Collaboration tools</div>
              </a>
              <a href="#" class="list-group-item media" data-toggle="tooltip" data-placement="left" title="Other books, articles, and talks you should check out to learn about startups.">
                <div class="media-left"><i class="fa fa-book"></i></div>
                <div class="media-body">Recommended reading</div>
              </a>
              <a href="#" class="list-group-item media" data-toggle="tooltip" data-placement="left" title="Find other people interested in startups around you.">
                <div class="media-left"><i class="fa fa-institution"></i></div>
                <div class="media-body">Community</div>
              </a>
              <a href="#" class="list-group-item media" data-toggle="tooltip" data-placement="left" title="Other lists of startup resources similar to this one.">
                <div class="media-left"><i class="fa fa-external-link"></i></div>
                <div class="media-body">Other startup resources</div>
              </a>
            </div>
          </div>            
        </div>
      </div>
      <h3>
        All of these resources are also available in the <em>{{ site.mobile_app_name }}</em>, available for 
        <a href="{{ site.ios_link }}" class="tracked" data-trk="get-app-apple-store-link-resources" target="_blank" title="{{ site.ios_text }}">iOS</a> 
        and 
        <a href="{{ site.android_link }}" class="tracked" data-trk="get-app-play-store-link-resources" target="_blank" title="{{ site.android_text }}">Android</a>!
      </h3>
      <!-- TODO: update screenshot and add an Android screenshot -->
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <img src="images/app-screenshot.gif" alt="{{ site.mobile_app_name }}" class="img-responsive"/>
        </div>
      </div>
      <div class="row buy-buttons">
        <div class="col-sm-6">
          <a href="{{ site.ios_link }}" class="buy-link black-link hvr-grow hvr-grow-shadow tracked" data-trk="get-app-apple-store-button-resources" target="_blank" title="{{ site.ios_text }}">
            <img src="images/download-app-store.png" alt="{{ site.ios_text }}"/>
          </a>
        </div>
        <div class="col-sm-6">
          <a href="{{ site.android_link }}" class="buy-link black-link hvr-grow hvr-grow-shadow tracked" data-trk="get-app-play-store-button-resources" target="_blank" title="{{ site.android_text }}">
            <img src="images/download-play-store.png" alt="{{ site.android_text }}"/>
          </a>
        </div>
      </div> 
    </div>
  </div>
</div>