{% assign email_id = 'mc-email' %}
{% if custom_email_id %}
  {% assign email_id = custom_email_id %}
{% endif %}
<form action="//hello-startup.us10.list-manage.com/subscribe/post?u=af4a446a7209dd6bd0f687c38&amp;id=b4f671f5e3" method="post" class="subscribe-form" target="_blank" novalidate>
  <p>News about startups. No spam.</p>
  <input type="text" name="EMAIL" id="{{ email_id }}" class="form-control v-space" placeholder="email address">
  <button type="submit" name="subscribe" class="btn btn-success btn-block v-space">Join</button>
  <div class="offscreen"><input type="text" name="b_af4a446a7209dd6bd0f687c38_b4f671f5e3" tabindex="-1" value=""></div>
</form>
