---
layout: default
inverse_nav: true
nav: 
  - name: "Products"
    title: "Products"
    url: "#products-list"
  - name: "Technologies"
    title: "Technologies"
    url: "#technologies-list"
  - name: "Teams"
    title: "Teams"
    url: "#teams-list"
---

<header class="gray-section">
  {% assign header_content_include = "resource-summary-header-include.html" %}
  {% include header.html %}
</header>

<div id="the-resources">
  <section id="startup-resources">
    {% assign hide_blurb = true %}
    {% include startup-resources.html %}
  </section>
</div>

