body {
  position: relative;
  padding-top: 80px;
}

a {
  color: #2D9615;
}

a:hover {
  color: #6DBD5A;
  text-decoration: none;
}

.blurb h1 {
  margin-bottom: 30px;
}

h2 {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}

h3 {
  text-transform: none;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #777;
}

h4 {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #333;
}

p, blockquote, h3 {
  text-align: justify;
}

.nav-wrapper {
  height: 80px;
  background-color: #e7e9e9;
  margin-top: -80px;
}

.navbar-default {
  background: #e7e9e9;
  border: 0;
  box-shadow: none;
}

.navbar-default .navbar-brand {
  display: none;
}

.navbar-inverse .navbar-brand {
  font-family: 'Lato', monospace;
  font-size: 28px;
  text-transform: lowercase;
  color: #5BBA45;
}

.navbar-right li a {
  text-transform: uppercase;
  font-weight: 400;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar a.page-scroll {
  padding-top: 20px;
  padding-bottom: 20px;  
  line-height: 10px;
}

header.gray-section {
  border-top: none;
}

header .container {
  max-width: none;
  padding: 0 80px 40px;
}

header .img-responsive {
  max-height: 760px;
}

header h1 {
  margin-top: 0;
}

header h1 a {
  display: inline-block;
}

header .book-3d {
  text-align: center;
}

header p {
  font-size: 14px;
  font-weight: 200;
}

header blockquote {
  display:block;
  padding: 0;
  margin: 0 0 20px;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  border: 0;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: italic;
  font-weight: 700;
}

/*
header blockquote::before {
  content: open-quote;
  font-family: Georgia, serif;
  font-size: 56px;
  font-weight: bold;
  line-height: 1px;
  position: absolute;
  top: 15px;
  left: 0;
  color: #BBB;  
}
*/

.get-buttons h5 {
  margin-top: 30px;
  margin-bottom: 0;
  color: #000;
  font-size: 16px;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: italic;  
  font-weight: 700;
}

section {
  padding: 120px 80px;  
}

.gray-section {
  background: #e7e9e9;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

.gray-gradient {
  background: -moz-radial-gradient(center, ellipse cover,  #ffffff 40%, #e7e9e9 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(40%,#ffffff), color-stop(100%,#e7e9e9));
  background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 40%,#e7e9e9 100%);
  background: -o-radial-gradient(center, ellipse cover,  #ffffff 40%,#e7e9e9 100%);
  background: -ms-radial-gradient(center, ellipse cover,  #ffffff 40%,#e7e9e9 100%);
  background: radial-gradient(ellipse at center,  #ffffff 40%,#e7e9e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e9e9',GradientType=1 );  
}

.buy-link {
  display: block;
  border: 1px solid #CCC;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;  
  margin: 10px 0 0;
  width: 100%;
  height: 64px;
  line-height: 60px;
  background-color: #fff;
  text-align: center;
}

.black-link {
  background-color: #000;
  border: 1px solid #fff;
}

.buy-button {
  padding: 4px;
  background-color: #fff;
  animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -webkit-animation-delay: 500ms;  
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;  
}

.buy-buttons {
  margin-bottom: 25px;
}

.circle-icon {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #fff;
  border: 1px solid #555;
  background-color: #555;
  padding: 30px;
}

.book-outline {
  padding-top: 50px;
  padding-bottom: 50px;
}

.book-outline h4 {
  margin-bottom: 30px;
}

.truncate_more, .clearboth {
  display: inline;
}

.book-parts {
  text-align: center;
}

.book-parts ol {
  margin-top: 20px;
  text-align: left;
}

.author-about {
  margin-top: 20px;
}

.connect-buttons h4 {
  margin-top: 0;
}

.follow-button i {
  margin-right: 5px;
}

.more-about-author {
  margin-top: 15px;
}

.learn-more {
  margin-top: 90px;
}

.tooltip-inner {
  text-align: left;
}

.btn {
  background-image: none;
  margin-top: 10px;
}

.centered {
  text-align: center;
}

.list-group-item.media {
  margin-top: 0;
}

.media-left {
  min-width: 26px;
}

.resource-lists {
  margin-top: 30px;
}

footer {
  color: #777;
  padding-top: 14px;
  padding-bottom: 10px;
}

/* Grow from hover.css */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Grow Shadow from hover.css */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.outline ol {
  padding-left: 0;
  margin-left: 20;
}

.outline li {
  list-style-position:inside;
}

.author-image {
  text-align: center;
}

.resource-panel {
  width: 300px;
}

.resouce-item h4 {
  margin-bottom: 0px;
}

.resouce-item .site-url {
  font-size: 12px;
  margin-bottom: 15px;
  display: block;
}

.no-screenshot {
  color: #CCC;
  text-align: center;
  padding: 80px 0;
  width: 100%;
}

.inline-block {
  display: inline-block;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

@media (min-width: 1200px) {
  .navbar-right {
    margin-right: -28px;
  }

  header .container {
    padding: 0 20px 0;
  }

  header .blurb {
    margin-left: -64px;
    padding-top: 60px;
  }
}

@media (max-width: 768px) {
  footer {
    text-align: center;
  }

  footer .share-button {
    margin: 10px auto;
    width: 90px;
  }  

  header .container {
    padding: 40px;
  }

  section {
    padding: 120px 20px;
  }
}